.monaco-editor {
  margin-top: 0px;
  width: 100%;
  max-width:100%;
  height: 90vh; /* TODO: Should be able to set this to 100% of parent container. */
  max-height: 90vh;
  perspective: 2000px;
  animation: fadein 1s;
}