/* Apply style to HTML & Body */
html {
  background-color: #404040;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Smooth fade-in */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#titlebar {
  display: block;
  position: fixed;
  padding: 4px;
  height: 32px; /* Standard title-bar height */
  width: calc(100% - 2px); /* Compensate for body 1px border. */
  background: #3273dc; /* Match Bulma's "link" color. */
  color: #ffffff;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
.titlebar-buttons {
  -webkit-app-region: no-drag;
}

.app-wrapper {
  margin-top: 32px; /* Compensate for titlebar. */
  height: calc(100% - 32px);
  width: 100%;
  overflow: auto;
  animation: fadein 0.75s;
  perspective: 2000px;
}

.column-wrapper {
  margin: 0px;
  padding: 0px;
}