/* Apply style to HTML */
html {
  background-color: #404040;
  overflow: hidden;
}

/* Apply style to Body */
body {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Smooth Fade-In */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply style to the App's titlebar */
#titlebar {
  display: block;
  position: fixed;
  padding: 4px;
  height: 32px; /* Standard title-bar height */
  width: calc(100% - 2px); /* Compensate for body 1px border. */
  background: #3273dc; /* Match Bulma's "link" color for aesthetics. */
  color: #ffffff;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
.titlebar-buttons {
  -webkit-app-region: no-drag;
}

/* App Style */
.app-wrapper {
  margin-top: 32px; /* Compensate for titlebar. */
  height: calc(100% - 32px); /* Compensate for titlebar. */
  width: 100%;
  overflow: auto;
  animation: fadein 1s;
  perspective: 2000px;
}

/* Style the main row of buttons */
.level-button-bar {
  margin: 0px !important;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.level-item-button {
  margin-bottom: 0px !important;
}

/* Style the wrapper for the columns */
.columns-wrapper {
  margin: 0px !important;
  padding: 0px;
}

/* Style the wrapper for the content of each column */
.column-wrapper {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}

/* Style the Monaco editors */
.monaco-editor {
  width: 100%;
  height: 90vh; /* TODO: Should be able to set this to 100% of parent container. */
  perspective: 2000px;
  animation: fadein 1s;
}
